@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.flex {
    display: flex;
}

body {
    background-image: url("./Images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 45% 100%;
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

/* Top Section */
.top_section {
    min-width: 100vw;
    min-height: 7vh;
    background-color: #000000d9;
    align-items: center;
    position: fixed;

}

#main_logo_title {
    cursor: pointer;
}

.nav_bar {
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.left_nav_bar {
    color: white;
    align-items: center;
    gap: 1em;
}

.main_logo {
    fill: #16eadc;
}

.main_title {
    color: #16eadc;
}

.right_nav_bar {
    justify-content: space-around;
    gap: 2em;
}

.right_nav_bar_list {
    list-style: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}

.right_nav_bar_list:hover {
    color: #16eadc;
}

/* Content Section */
#content {
    color: white;
    overflow: auto;
}

.main_section {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.main_section_title {
    font-size: 3rem;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 0.5em;
    color: #16eadc;
    text-decoration: underline;
}

.main_container {
    background-color: #000000d9;
    border: 2px solid white;
    padding: 6em 6em 6em 6em;
    flex-direction: column;
    width: 40%;
}

.homepage_main_container {
    background-color: #000000d9;
    border: 2px solid white;
    flex-direction: column;
    padding: 2em;
}



        /* HOME */
.home_section_title {
    margin-top: 0;
    font-size: 2.5rem;
    color: #16eadc;
}

.home_section_btn {
    padding: 0.8em;
    background-color: #000;
    color: white;
    font-size: 1.5rem;
    border: 2px solid white;
    cursor: pointer;
}

.home_section_btn:hover {
    color: #71a8a1;
}

.item_container {
    align-items: center;
    font-size: 1.5rem;
}

.item_container:hover {

    color: #16eadc;

}

        /* MENU */
.dish_name {
    text-align: left;
    width: 75%;
}

.dish_price {
    text-align: right;
    width: 25%;
}

.menu_title {
    font-size: 3rem;
    text-align: center;
    margin-top: 5em;
    margin-bottom: 1em;
    color: #16eadc;
    text-decoration: underline;
}

.menu_section_title {
    font-size: 2rem;
    font-weight: bolder;
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    color: #71a8a1;
}

.menu_main_container {
    background-color: #000000d9;
    border: 2px solid white;
    padding: 65em 6em 6em 6em;
    flex-direction: column;
    width: 40%;
}

.item_details {
    margin: 0.5em 0;
}

.menu_section_title_bottom {
    margin-top: 2em;

}

        /* ABOUT */

.about_content {
    font-size: 1.5rem;
}

        /* CONTACT */

.contact_content {
    font-size: 1.5rem;

}

/* Footer Section */
.footer {
    font-size: 1.2rem;
    color: white;
    min-width: 100vw;
    min-height: 3vh;
    background-color: #000000d9;
    justify-content: center;
    position: fixed;
    left: 0;
    bottom: 0;
}