:root {
    box-sizing: border-box;
}

.flex {
    display: flex;
}

body {
    background-image: url("./Images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 45% 100%;
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

/* Top Section */
.top_section {
    min-width: 100vw;
    min-height: 7vh;
    background-color: #000000d9;
    align-items: center;
    position: fixed;

}

.nav_bar {
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.left_nav_bar {
    color: white;
    align-items: center;
    gap: 1em;
}

.main_logo {
    fill: white;
}

.right_nav_bar {
    justify-content: space-around;
    gap: 2em;
}

.right_nav_bar_list {
    list-style: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}

/* Content Section */
#content {
    color: white;
}

.main_section {
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.main_container {
    background-color: #000000d9;
    border: 2px solid white;
    padding: 2em;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.main_section_title {
    margin-top: 0;
    font-size: 2.5rem;
    color: white;
}

.main_btns {
    padding: 0.8em;
    background-color: #000;
    color: white;
    font-size: 1.5rem;
    border: 2px solid white;
    cursor: pointer;
}

.menu_items {
    align-items: center;
    font-size: 1rem;
}

.dish_name {
    text-align: left;
    width: 75%;
}

.dish.price {
    text-align: right;
    width: 25%;
}

/* Footer Section */
.footer {
    font-size: 1.5rem;
    color: white;
    min-width: 100vw;
    min-height: 3vh;
    background-color: #000000d9;
    justify-content: center;
    align-content: center;
    position: fixed;
    left: 0;
    bottom: 0;
}